name: Insights
on:
  schedule: 
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - master
      
jobs:
  github-Insights:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          ref: data
      
      - name: generate GitHub metric
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          repositories_affiliations: owner, collaborator, organization_member
          config_display: large
          commits_authoring: ${{ vars.USER_NAME }}
          config_padding: 8 + 12%
          optimize: svg
          experimental_features: --optimize-svg
          config_timezone: Asia/Taipei
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_lines: yes
          plugin_lines_history_limit: 0
          plugin_traffic: yes
          plugin_leetcode: yes
          plugin_leetcode_user: garyellow
          plugin_leetcode_sections: solved, skills, recent
          output_action: none
        
      - name: generate snake of GitHub contributions
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: ./github-snake.svg

        env:
          GITHUB_TOKEN: ${{ secrets.METRICS_TOKEN }}

      - name: move file
        run: sudo mv /metrics_renders/* ./
            
      - name: push SVG to the output branch
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git add ./*.svg
          git commit -m "update data"
          git push
